---
layout: default
---
{% for section in site.sections %}
{% capture name %} {{ section.path | handleize | remove: ".md" | split:"-" | last }}{% endcapture %}
<section class="{{ name }}">
 <div id="{{ name }}"></div>
{{ section.output }}
</section>
{% endfor %}