<footer class="footer-bs">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <h4>{{ site.title }}</h4>
        <p>{{ site.description }}</p>
      </div>
      <div class="col-xs-6 col-sm-5 footer-nav">
        <div class="col-md-6">
          <h4>На сайте:</h4>
          <ul class="pages">
          {% for section in site.sections %}
          {% capture name %} {{ section.path | handleize | remove: ".md" | split:"-" | last }}{% endcapture %}
          {% unless section.tag == "about" %}
            <li class="fa fa-{{ section.icon }}"><a href="#{{ name }}">{{ section.title }}</a></li>
          {% endunless %}
        {% endfor %}
          </ul>
        </div>
        <div class="col-md-6">
          <h4>Обо мне:</h4>
          <ul class="list">
      {% for section in site.sections %}
        {% capture name %} {{ section.path | handleize | remove: ".md" | split:"-" | last }}{% endcapture %}
        {% if section.tag == "about" %}
          {% unless false %}
            <li class="fa fa-{{ section.icon }}"><a href="#{{ name }}">{{ section.title }}</a></li>
          {% endunless %}
        {% endif %}
      {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3 footer-social">
        <h4>Мои соцсети:</h4>
        <ul>
          {% for item in site.socials %}
          {% capture icon     %}{{ item[0]          | handleize |  split:"{" | first }}{% endcapture %}
          {% capture url      %}{{ item[1].url      | handleize }}{% endcapture %}
          {% capture name     %}{{ item[1].name     | handleize }}{% endcapture %}
          {% capture service  %}{{ item[1].service  | handleize }}{% endcapture %}
          {% if name == 0 %}{% else %}
          <li class="fa fa-{{ icon }}"><a href="{{ url }}{{ name }}" title="">{{ service }}</a></li> 
          {% endif %}
          {% endfor %}
          <li class="fa fa-rss"><a href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url   }}">RSS</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-3">
        <p>&copy; 2017, {{ site.autor }}</p>
      </div>
    </div>
  </div>
</footer>
