<header>
  <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-menu-navbar-collapse-1">
              <span class="sr-only">Переключить навигацию</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
        <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-menu-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          {% for section in site.sections %}
          {% capture name %} {{ section.path | handleize | remove: ".md" | split:"-" | last }}{% endcapture %}
          {% unless section.tag == "about" %}
            <li><a href="#{{ name }}">{{ section.title }}</a></li>
          {% endunless %}
          {% endfor %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <div class="box-50">{% include avatar.html %}</div><b class="caret"></b></a>
              <ul class="dropdown-menu">
                {% for section in site.sections %}
                {% capture name %} {{ section.path | handleize | remove: ".md" | split:"-" | last }}{% endcapture %}
                {% if section.tag == "about" %}{% unless false %}
                <li><a href="#{{ name }}">{{ section.title }}</a></li>
                {% endunless %}{% endif %}{% endfor %}
              </ul>
            </li>
          </ul>
        </ul>
      </div>
    </div>
  </nav>
</header>
