.footer-bs {
    background-color: $gray-dark;
	color: $gray-lighter;
	margin-bottom: -20px;
	border-radius: 0;
    h1, h2, h3, h4, h5, h6 {
        color: $gray-light;
    }
/*    border: 1px solid black;
    div{
        border: inherit;
    }
*/ 
    ul{
        padding-left: 10px;
    }
    li{
        
        list-style-type: none;
        margin-left: 0;
        width: 100%;
        a, a:hover, a:active, a:focus, a:visited{
            color: $gray-lighter;
            font-family: $font-family-sans-serif;
        }
    }

    .fa::before{
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        display: inline-block;
        height: $line-height-base;
        width: 30px;
    }   
}


@media (min-width: $screen-sm-min) { 
	.footer-bs { padding: 7px 5px; }  
}
@media (min-width: $screen-md-min) {
    .footer-bs { padding: 30px 20px; }  
}
@media (min-width: $screen-lg-min) {
	.footer-bs { padding: 60px 20px 60px 40px; }  
}
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns{
    border-left: solid 1px rgba(255,255,255,0.10);
}
