/**
 * User styles
 */
@import 'bootstrap-sprockets';
@import 'bootstrap-custom';
@import 'footer';

.jumbotron{
    min-height: 100vh;
}

.avatar{
    display: block;
    border-radius: 50%;
    border: 2px solid black;
    width: 100%;
    height: 100%;
    z-index: 1001;
}
.box-50{
    width: 80px;
    height: 80px;
    float: right;
    position: absolute;
    left: -10px
}


.navbar-right{
    margin-right: 20px;
}

.jumbotron{
    {% assign bg = site.static_files | where: "image", true %}
    {% assign random = site.time | date: "%s%N" | modulo: bg.size %}
    background-image: url('{{ bg[random].path }}');
    background-size: cover;
    .panel{
	    margin-top: 50%;
        opacity: .7;
    }
}
.jumbotron h1{
        font-size: floor(($font-size-base * 1.7));
    }
.jumbotron p{
        font-size: floor(($font-size-base * 1));
    }


.jumbotron .well .well-bg{
    margin-top: 100px;
}
.large .fa{
    font-size:  floor(($font-size-large * 1.2));
}