<!DOCTYPE html>
<head>
  {% include head.html %}
  <!-- Latest compiled and minified CSS -->
</head> 
<body data-spy="scroll">

    {% include header.html %}
    {{ content  | replace: ' April ', ' апреля ' | replace: ' May ', ' мая ' | replace: ' June ', ' июня '| replace: ' July ', ' июля '}}
    {% include footer.html %}
    {% include js.html %}
</body>
</html>